
@{
    ViewBag.Title = "Anasayfa";
    Layout = "~/Views/Shared/_MainShared.cshtml";
}
<div class="row">
    <div class="col-md-6">
        <form class="form">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Ara" id="sAra" value="" />
            </div>
        </form>
    </div>
</div>
<div id="listara">
</div>
<div id="sorular">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="header">
                    <h4 class="title">Tüm Sorular</h4>
                    <p class="category"> i am debugger adresine kullanıcıların sorduğu sorular.</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Takma Ad</th>
                                <th>Baslık</th>
                                <th>Kategori</th>
                                <th>Onay Durumu</th>
                                <th>Yayınlanma Tarihi</th>
                                <th>Cevap Ver</th>
                            </tr>
                        <tbody id="sorularList"></tbody>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var soruId;
    $("#sorular").load(Listele());
    function Listele() {

        $.post("/Home/SorulariListele", function (data) {
            $("#sorularList").html("");
            $.each(data, function (i, item) {
                $("#sorularList").append('<tr><td>' + item.KullaniciAd + '</td><td>' + item.Baslik + '</td><td>' + item.KategoriAd + '</td><td>' + item.OnayDurum + '</td><td>' + item.YayinTarihi + '</td><td><a href="/Home/SoruGoster/' + item.SoruId + '">Ayrıntılar</a></td></tr>');

            });
        });
    }
    $("#sAra").keypress(function () {
        var data = {
            baslik: $("#sAra").val()
        };
        //console.log(data);
        if (data == " ")
            Listele();
        $.post("/Home/SoruAra", data, function (sonuc) {
            $("#sorularList").html("");
            $.each(sonuc, function (i, item) {
                $("#sorularList").append('<tr><td>' + item.KullaniciAd + '</td><td>' + item.Baslik + '</td><td>' + item.KategoriAd + '</td><td>' + item.OnayDurum + '</td><td>' + item.YayinTarihi + '</td><td><a href="/Home/SoruGoster/' + item.SoruId + '">Ayrıntılar</a></td></tr>');

            });
        });
    });


</script>
