@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_MainShared.cshtml";
}

<div id="a">
      <button onclick="Listele();">Listele</button>

</div>
<script>
    function Listele() {
        $.post("/Home/Listele", function (data) {
            $("#a").html("");
            $.each(data, function (i, item) {
                $("#a").append('<p>'+item.baslik+'</p>');
            });
        });
    }
    
      
       
       
      

    
</script>