
@{
    ViewBag.Title = "Soru Detay";
    Layout = "~/Views/Shared/_MainShared.cshtml";
}
<style>
    #favIco {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}
</style>
<button id="test">Test</button>
<div class="row" id="soruDetay">
    
    <div class="col-md-12">
        <div class="card">
            <div style="float:right"><img src="~/img/favorite.png" id="favIco" onclick="SoruFavoriEkle();"/></div>
            <div class="header">
                
                <h4 class="title">Soru Detay</h4>
                
            </div>
            <div id="sDetay">
                <button onclick="cevapvermeistek()">Cevap vermek istiyorum</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div id="cevapVerDiv">


            <div class="card">
                <div class="header">
                    <h4 class="title">Cevap Ekle</h4>
                </div>

                <form class="form">

                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Cevap" id="sCevap" value="" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-success" value="Cevap Ver" onclick="CevapVer();" />
                    </div>


                </form>

            </div>
        </div>

        <div class="card">
            <div class="header">
                <h4 class="title">Soru Cevaplar</h4>
            </div>

            <div id="sCevaplar">

            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordion">
            <div id="sCevap">

            </div>


        </div>
    </div>
</div>



<script>
    
    var cevapId = 0;
    $("#test").click(function () {
        YorumCek();
    });

    $("#soruDetay").load(SoruCek());
    $("body").load(CevapCek());
    $("#cevapVerDiv").hide();
    $("body").load(FavoriKontrol());

    $("#yEkle").on('shown', function () {
        alert("hooop");
        $('#modalYorum').modal();
    });


    function cevapvermeistek() {
        $("#cevapVerDiv").show();
    }
    function UrlCevir() {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        return id;
    }
    function SoruCek() {
        var id = UrlCevir();
        //alert(id);
        var data = {
            soruId: id
        };
        //console.log(data);
        $.post("/Home/SoruCek", data, function (data) {
            $("#sDetay").append('<div class="typo-line"><p class="category"><strong>' + data.KategoriAd + '</strong></p><blockquote><p class="text-primary"><b>' + data.KullaniciAd + '  takma adlı kullanıcı soruyor;</b></p><p text-success><b>' + data.Baslik + '</b></p><p>' + data.Icerik + '</p><small>' + data.YayinTarihi + '</small></blockquote><strong>' + data.OnayDurum + '</strong></div>');
            
        });
    }
    function CevapCek() {
        var id = UrlCevir();
        //alert(id);
        var data = {
            soruId: id
        };
        //console.log(data);
        $.post("/Home/CevapCek", data, function (data) {

            $.each(data, function (i, item) {
                cevapIdGetir(item.cevapId);
                $("#sCevaplar").append(' <div class="panel panel-primary"> <div class="panel-heading"><h4 class="panel-title"><b>Kullanıcı: ' + item.KullaniciAdi + '</b><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" id="yEkle">' + item.Cevap + '</a></h4></div><div id="sYorumlar' + i + '"><p id="yorumYaz"></div></div><div id="yorumYaz"><form class="form"><div class="form-group"><textarea type="text" class="form-control" placeholder="Yorum" id="sCyorum" value="" rows="3"></textarea></div><div class="form-group"><input type="button" class="btn btn-danger" value="Yorum Yap" onclick="YorumYap(' + item.CevapId + ');"  id="yYap"/></div></form></div>');
                YorumCek(item.CevapId, i);
                //$("#sCevaplar").append('<p><b>BU BİR CEVAP</b>' + item.Cevap + '<p id="sYorumlar' + i + '"><i>Yorum</i></p></p></b>');
                
            });


        });

    }
    function cevapIdGetir(deger) {
        var cevapId = deger;
        return deger;
    }
    function YorumCek(deger, sayac) {
        //alert(deger);
        var data = {
            cevapId: deger
        };

        $.post("/Home/YorumCek", data, function (data) {

            $.each(data, function (i, item) {
                $("#sYorumlar" + sayac + "").append('<p>' + item.Yorum + '</p><p>' + item.KullaniciAdi + '</p><p>' + item.YorumTarihi + '</p>');


            });
        });
    }
    function KisiCek() {
        $.post("/Home/KulCek", function (sonuc) {
            alert(sonuc);
            return sonuc;

        });
    }
    function CevapVer() {

        var kisi =
               $.post("/Home/KulCek", function (sonuc) {
                   sonuc = kisi;
               });
        if (kisi != 0) {
            $("#cevapVerDiv").show();
            var data = {
                cevap1: $("#sCevap").val(),
                soruId: UrlCevir()
            };
            $.post("/Home/CevapVer", data, function (sonuc) {
                if (sonuc == "+") {
                    alert("Cevabınız başarılı şekilde alındı.");
                    window.location.reload();
                }
                else if ( sonuc =="-")
                    window.location = "/Home/Giris";


            });
        }

    }
    function YorumYap(cId) {
        var sonuc = cId;
        alert(cId);

        var data = {
            yorum1: $("#sCyorum").val(),
            cevapId: cId

        };
        console.log(data);
        $.post("/Home/YorumYap", data, function (sonuc) {
            if (sonuc == "+")
                alert("başarılı bir şekilde yorum elendi");
            else
                console.log("hata var hacım" + sonuc);
        });



    }

    function FavoriKontrol() {
        var data = {
            soruId: UrlCevir()
        };
        $.post("/Home/FavoriEkle", data, function (sonuc) {
            if (sonuc == "+") {
                console.log("aaaa");
                $("#favIco").css("-webkit-filter", "grayscale(0)");
            }
        });
    }
    function SoruFavoriEkle() {
        var data = {
            soruId: UrlCevir()
        };
        $.post("/Home/FavoriEkle", data, function (sonuc) {
            if (sonuc == "+") {
                console.log("aaaa");
                $("#favIco").css("-webkit-filter", "grayscale(0)");
            }
            else
                $("#favIco").css("-webkit-filter", "grayscale(1)");
        });
    }



</script>
