
@{
    ViewBag.Title = "Soru Detay";
    Layout = "~/Views/Shared/_MainShared.cshtml";
}
<style>
    #favIco, #onay {
        filter: gray;
        filter: grayscale(1);
        -webkit-filter: grayscale(1);
    }
</style>
<div class="row" id="soruDetay">
    <div class="col-md-12">
        <div class="card">
            <div style="float:right"><img src="~/img/favorite.png" id="favIco" onclick="SoruFavoriEkle();" /></div>
            <div class="header">
                <h4 class="title">Soru Detay</h4>
            </div>
            <div id="sDetay"></div>
        </div>
        <div class="clearfix"></div>
        <div id="cevapVerDiv">
            <div class="card">
                <div class="header">
                    <h4 class="title">Cevap Ekle</h4>
                </div>
                <form class="form">
                    <div class="form-group">
                        <textarea type="text" class="form-control" placeholder="Cevap" id="sCevap" value="" rows="3"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="button" class="btn btn-success" value="Cevap Ver" onclick="CevapVer();" />
                    </div>
                </form>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h4 class="title">Soru Cevaplar</h4>
            </div>
            <div id="sCevaplar">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordion">
            <div id="sCevap">
            </div>
        </div>
    </div>
</div>

<script>
    $("#soruDetay").load(SoruCek());


    $("body").load(CevapCek());

    $("body").load(FavoriKontrol());
    

    function UrlCevir() {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        return id;
    }

    function SoruCek() {
        var id = UrlCevir();
        //alert(id);
        var data = {
            soruId: id
        };
        // console.log(data);
        $.post("/Home/SoruCek", data, function (data) {
            // console.log(data.KullaniciAd);
            $("#sDetay").append('<div class="typo-line"><p class="category"><strong>' + data.KategoriAd + '</strong></p><blockquote><p class="text-primary"><b>' + data.KullaniciAd + '  takma adlı kullanıcı soruyor;</b></p><p text-success><b>' + data.Baslik + '</b></p><p>' + data.Icerik + '</p><small>' + data.YayinTarihi + '</small></blockquote><strong>' + data.OnayDurum + '</strong></div>');

        });
    }

    function CevapCek() {
        var id = UrlCevir();
        //alert(id);
        var data = {
            soruId: id
        };
        //console.log(data);
        $.post("/Home/CevapCek", data, function (data) {

            $.each(data, function (i, item) {
                cevapIdGetir(item.cevapId);
                CevapOnayKontrol(item.CevapId);
                $("#sCevaplar").append('<img src="/img/cevapOnay.png" id="onay" onclick="CevapOnay(' + item.CevapId + ');"> <div class="panel panel-primary"> <div class="panel-heading"><h4 class="panel-title">                 <div style="float: right;"><img src="/img/begendi.png" onclick="CevapBegen(' + item.CevapId + ');"/>   <b id="begeniS"></b>   <img src="/img/begenmedi.png" onclick="CevapBegenme(' + item.CevapId + ');"/>   <b id="begeniT"></b> </div><b>Kullanıcı: ' + item.KullaniciAdi + '</b><p id="yEkle">' + item.Cevap + '</p></h4></div><div id="sYorumlar' + i + '"><p id="yorumYaz"></div></div><div id="yorumYaz"><form class="form"><div class="form-group"><textarea type="text" class="form-control" placeholder="Yorum" id="yorum' + item.CevapId + '" value="" rows="3"></textarea></div><div class="form-group"><input type="button" class="btn btn-danger" value="Yorum Yap" onclick="YorumYap(' + item.CevapId + ');"  id="yYap"/></div></form></div>');
                YorumCek(item.CevapId, i);
                BegeniCek(item.CevapId);
                //$("#sCevaplar").append('<p><b>BU BİR CEVAP</b>' + item.Cevap + '<p id="sYorumlar' + i + '"><i>Yorum</i></p></p></b>');

            });


        });

    }

    function cevapIdGetir(deger) {
        var cevapId = deger;
        return deger;
    }

    function YorumCek(deger, sayac) {
        //alert(deger);
        var data = {
            cevapId: deger

        };

        $.post("/Home/YorumCek", data, function (data) {

            $.each(data, function (i, item) {
                $("#sYorumlar" + sayac + "").append('<p>' + item.Yorum + '</p><p>' + item.KullaniciAdi + '</p><p>' + item.YorumTarihi + '</p>');


            });
        });
    }

    function KisiCek() {
        $.post("/Home/KulCek", function (sonuc) {
            //alert(sonuc);
            return sonuc;

        });
    }

    function CevapVer() {

        var kisi =
               $.post("/Home/KulCek", function (sonuc) {
                   sonuc = kisi;
               });
        if (kisi != 0) {
            $("#cevapVerDiv").show();
            var data = {
                cevap1: $("#sCevap").val(),
                soruId: UrlCevir()
            };
            $.post("/Home/CevapVer", data, function (sonuc) {
                if (sonuc == "+") {
                    alert("Cevabınız başarılı şekilde alındı.");
                    location.href = "/Home/Index";
                }
                else if (sonuc == "-")
                    window.location = "/Home/Giris";
            });
        }
    }

    function YorumYap(cId) {
        // alert("ID li soruya yorum yapıldı." + cId);
        var sonuc = cId;
        //alert(cId);

        var data = {
            yorum1: $("#yorum" + cId).val(),
            cevapId: cId
        };
        // console.log(data);
        $.post("/Home/YorumYap", data, function (sonuc) {
            if (sonuc == "+")
            location.href="/Home/SoruGoster"+UrlCevir();
        });
    }

    function FavoriKontrol() {
        var data = {
            soruId: UrlCevir()
        };
        $.post("/Home/FavoriSoruKontrol", data, function (sonuc) {
            //alert(sonuc);
            if (sonuc == "+") {
                $("#favIco").css("-webkit-filter", "grayscale(0)");

            }
        });
    }

    function SoruFavoriEkle() {
        var data = {
            soruId: UrlCevir()
        };
        $.post("/Home/FavoriEkle", data, function (sonuc) {
            if (sonuc == "+") {
                //   console.log("aaaa");
                $("#favIco").css("-webkit-filter", "grayscale(0)");
            }
            else
                $("#favIco").css("-webkit-filter", "grayscale(1)");
        });
    }

    function CevapBegen(cId) {
        var data = {
            cevapId: cId,
            begeniTurId: 1
        };
        // console.log(data);
        $.post("/Home/CevapBegen", data, function (sonuc) {
            //  console.log("Begendim" + sonuc);
        });
        BegeniCek(data.cevapId);
    }

    function CevapBegenme(cId) {
        var data = {
            cevapId: cId,
            begeniTurId: 2
        };
        $.post("/Home/CevapBegen", data, function (sonuc) {
            //   console.log("Begenmedim" + sonuc);
        });

    }

    function BegeniCek(cId) {
        var begeni = 0;
        var tiksinme = 0;

        var data = {
            cevapId: cId
        };
        $.post("/Home/BegeniCek", data, function (sonuc) {
            //alert(sonuc);
            $.each(sonuc, function (i, item) {
                $("#begeniS").text(item.BegeniTuruSayisi);
            });
            // console.log(begeni + " " + tiksinme);
            $("#begeniT").text(tiksinme);
        });
    }

    function CevapOnay(cevapId) {
        var data = {
            cId: cevapId,
            sId: UrlCevir()
        };
        console.log(data);
        $.post("/Home/CevapOnay", data, function (sonuc) {
            if (sonuc == "+")
                $("#onay").css("-webkit-filter", "grayscale(1)");

            else
                $("#onay").css("-webkit-filter", "grayscale(0)");

        });



    }
    function CevapOnayKontrol(cevapId) {
        var data = {
            cId: cevapId
        };
        console.log(data);
        $.post("/Home/CevapOnayKontrol", data, function (sonuc) {
            if (sonuc == "+") {
                $("#onay").css("-webkit-filter", "grayscale(1)");
            }

            //$.each()
        });
    }
</script>
