
@{
    ViewBag.Title = "Soru Detay";
    Layout = "~/Views/Shared/_MainShared.cshtml";
}
<button id="test">Test</button>

<div class="row" id="soruDetay">
    <div class="col-md-12">
        <div class="card">
            <div class="header">
                <h4 class="title">Soru Detay</h4>
            </div>
            <div id="sDetay">

            </div>
        </div>
        <div class="clearfix"></div>
        <div id="cevapVerDiv">

            
                <div class="card">
                    <div class="header">
                        <h4 class="title">Cevap Ekle</h4>
                    </div>

                    <form class="form">

                        <div class="form-group">
                            <textarea type="text" class="form-control" placeholder="Cevap" id="sCevap" value="" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="button" class="btn btn-success" value="Cevap Ver" onclick="CevapVer();" />
                        </div>


                    </form>
                
            </div>
        </div>

        <div class="card">
            <div class="header">
                <h4 class="title">Soru Cevaplar</h4>
            </div>

            <div id="sCevaplar">

            </div>

        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-8">
        <div class="panel-group" id="accordion">
            <div id="sCevap">

            </div>

        </div>
    </div>
</div>
<!--modal-->
<div class="modal fade" id="modalYorum" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>


<script>

    $("#test").click(function () {
        CevapVer();
    });
    $("#soruDetay").load(SoruCek());
    $("#sDetay").load(CevapCek());
    $("body").load(KisiCek());
    $("#cevapVerDiv").hide();
    $("#yEkle").on('shown',function () {
        alert("hooop");
        $('#modalYorum').modal();
    });
    function UrlCevir() {
        var url = window.location.pathname;
        var id = url.substring(url.lastIndexOf('/') + 1);
        return id;
    }
    function SoruCek() {
        var id = UrlCevir();
        //alert(id);
        var data = {
            soruId: id
        };
        console.log(data);
        $.post("/Home/SoruCek", data, function (data) {
            $("#sDetay").append('<div class="typo-line"><p class="category"><strong>' + data.KategoriAd + '</strong></p><blockquote><p class="text-primary"><b>' + data.KullaniciAd + 'takma adlı kullanıcı soruyor;</b></p><p text-success><b>' + data.Baslik + '</b></p><p>' + data.Icerik + '</p><small>' + data.YayinTarihi + '</small></blockquote><strong>' + data.OnayDurum + '</strong></div>');
        });
    }
    function CevapCek() {
        var id = UrlCevir();
        //alert(id);
        var data = {
            soruId: id
        };
        console.log(data);
        $.post("/Home/CevapCek", data, function (data) {

            $.each(data, function (i, item) {
                $("#sCevaplar").append(' <div class="panel panel-primary"> <div class="panel-heading"><h4 class="panel-title"><b>' + item.KullaniciAdi + '</b><a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" id="yEkle">' + item.Cevap + '</a></h4> <button type="button" data-toggle="modal" data-target="#modalYorum">Launch modal</button></div><div id="sYorumlar' + i + '"></div></div>');

                //$("#sCevaplar").append('<p><b>BU BİR CEVAP</b>' + item.Cevap + '<p id="sYorumlar' + i + '"><i>Yorum</i></p></p></b>');
                YorumCek(item.CevapId, i);
            });


        });

    }
    function YorumCek(deger, sayac) {
        //alert(deger);
        var data = {
            cevapId: deger
        };
        console.log(data);
        $.post("/Home/YorumCek", data, function (data) {

            $.each(data, function (i, item) {
                $("#sYorumlar" + sayac + "").append('<div id="collapseOne" class="panel-collapse collapse in"><div class="panel-body">' + item.Cevap + '<p>' + item.KullaniciAdi + '</p></div></div>');

            });
        });


    }

    function CevapVer() {
        var kisi =
             $.post("/Home/KulCek", function (sonuc) {
                 sonuc = kisi;
             });
        if (kisi != null) {
            $("#cevapVerDiv").show();
            var data = {
                cevap1: $("#sCevap").val(),
                soruId: UrlCevir()
            };
            $.post("/Home/CevapVer", data, function (sonuc) {
                if (sonuc == "+") {
                    alert("Cevabınız başarılı şekilde alındı.");
                    location.reload();
                }


            });
        }
        //function YorumaCevap() {

        //    var data{

        //    };

        //}

    }


</script>
