
@{
    Layout = "~/Views/Shared/_MainShared.cshtml";
    ViewBag.Title = "Profil - Şifre Değiştirme";

}
<div class="container-fluid">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Profil Düzenle</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Yeni Şifre </label>
                                            <input type="text" class="form-control" placeholder="Yeni Şifre" id="txtYeniS1" value="">
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Eski Şifre</label>
                                            <input type="password" class="form-control" placeholder="Eski Şifre" id="txtEskiS" value="" />
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-danger" onclick="SifreGuncelle();">Şifre Güncelle</button>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>İstek / Şikayet</label>
                                            <textarea rows="5" class="form-control" placeholder="Here can be your description" value="">Sistemede iyileştimek istenen şeyleri hepsini daha fazlasını burdan geliştirilere ilte bilirsin.</textarea>
                                        </div>
                                    </div>
                                </div>
                                <a href="mailto:aahmet.272@gmail.com" target="_top" class="btn btn-info btn-fill pull-right">Gönder</a>
                                <div class="clearfix"></div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function SifreGuncelle() {
        var yeni1 = $("#txtYeniS1").val();
        var eski = $("#txtEskiS").val();
        $.post("/Home/SifreDegistir", { eski: eski, yeni: yeni1 }, function (sonuc) {
            console.log(sonuc + 'Sonuc');
        });
    }
</script>

